{% extends 'quotes/base.html' %}

{% block title %}About Barack Obama{% endblock %}

{% block content %}
    <h1>Welcome to Barack Obama's Best Quotes</h1>
    <p>This webpage shows images and quotes of our former president Barack Obama.</p>
    <p>Barack Obama served two terms as the President of the United States from 2009 to 2017. 
       One of his first duties as President was pulling the US out of a recession. Additionally,
       he introduced ObamaCare and the Paris Climate Agreement, which were key parts of his legacy.
    </p>
{% endblock %}